<<<<<<< HEAD
{{#each this}}
<section class="comments form-div">
    
    <div class="comment card">
        <div class="text card-body">
        <p class="card-text">{{comment_text}}</p>    
        </div>
        <div class="meta card-footer">
           <small>by: {{user.username}} on {{format_date created_at}}</small> 
        </div>
    </div>
    
</section>
{{/each}}
=======
<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="text">
            {{comment_text}}
        </div>
        <div class="meta">
            Comment posted by: {{user.username}} on {{format_date created_at}}
        </div>
    </section>
    {{/each}}
</div>
>>>>>>> 175c27ed59c4f258b05224e5f8737954bda53ee0
