<section class="form-div">
    <form class="new-post-form">
        <h3>Share A Recipe</h3>
            <label for="post-title">Dish Name</label>
            <input type="text" id="post-title" name="post-title" />
            <textarea name="post-body"></textarea>
        <button type="submit">Share</button>
    </form>
</section>
{{#if posts.length}}
 {{#each posts as |post|}}
<section class ="form-div">
    

       <div class = "card">
           <div class="card-header"> <h3> {{title}}</h3> </div>
           <div class="card-body">
              <p class="card-text">{{post_body}}</p>
              
              <a href="/dashboard/edit/{{post.id}}" class="edit-link"><button type="submit">Edit post</button></a>
              </div>
              <div class="card-footer">
      <small class="text-muted">Author: {{user.username}} on {{format_date created_at}} {{vote_count}} {{format_plural "Upvote" vote_count}}
          <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}} </a>
      </small>
    </div>
    
            
                 
    </div>
</section>
{{/each}}
{{/if}}
<script src="/javascript/add-post.js"></script>